<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: common_header(~{::title}, ~{::link}, ~{})}">
  <meta charset="UTF-8">
  <title th:text="'楼盘详情|' + ${product.name}"></title>
  <link rel="stylesheet" th:href="@{/css/web/product-details.css}"/>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container">
  <h1 class="row" th:text="${product.name}">吉祥澜山</h1>
  <div class="row">
    <div class="product-base-info">
      <div class="col-md-5 product-base-info-img">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!--<ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" th:data-slide-to="0" class="active"></li>
          </ol>-->
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active" th:if="${pic.type == 0}" th:class="${picStat.index == 0} ? 'item active' : 'item'" style="height: 100%;" th:each="pic, picStat : ${product.pictures}">
              <img src="#" th:src="${pic.path}"/>
              <div class="carousel-caption">
                <!-- some words to show -->
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
      <div class="col-md-7 product-base-info-text">
        <div class="row product-base-info-name"><span th:text="${product.name}">吉翔阑珊</span></div>
        <div class="row product-base-info-price">参考均价 <span th:text="${product.price}">12000</span></div>
        <div class="row product-base-info-discount">优惠折扣 <span class="color-fire" th:text="${product.discount}">成功预约客户可享超值团购优惠，当天下定更有好礼相送！</span></div>
        <div class="blank row"></div>
        <div class="row product-base-info-reservation">
          <div class="col-md-12 basic-tel">
            <div class="tel-box">
              <div class="tel">
                <p><strong>13329301928</strong></p>
                <a class="reservation-btn">免费预约</a>
              </div>
            </div>
          </div>
        </div>
        <div class="blank row"></div>
        <div class="row product-base-info-others">
          <table class="table">
            <tr>
              <td>楼盘地址</td>
              <td th:text="${product.address}">xxxxxxxxxxxxx</td>
            </tr>
            <tr></tr>
            <tr>
              <td>户型面积</td>
              <td th:text="${product.area}">90-80-100</td>
            </tr>
            <tr>
              <td>产权年限</td>
              <td>70</td>
              <td style="">建筑装修</td>
              <td th:text="${product.typeStr}">毛胚</td>
            </tr>
            <tr>
              <td>开盘时间</td>
              <td th:text="${#dates.format(product.opening, 'yyyy-MM-dd')}">2017-09-09</td>
              <td>交房时间</td>
              <td th:text="${#dates.format(product.delivery, 'yyyy-MM-dd')}">2019.02.01</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="blank"></div>
  <div class="row">
    <div class="col-md-1">
      <i class="lp-icons lp-icons-tuan">团购</i>
    </div>
    <div class="col-md-4">
      网上预约看房，可享我们开发商团购优惠，参加人人都有礼品，有机会专享10000元装修礼包，上海地区开通免费看房班车 人民广场、浦东三林、莘庄地铁站、松江老城，请提前填好预约信息
    </div>
    <div class="col-md-2">
      <p><span>优惠多多</span>欢迎预定</p>
      <p>已有<span>88</span>人预约看房</p>
    </div>
    <div class="col-md-2 col-md-offset-3">
      <a>团购报名</a>
    </div>
  </div>
  <div class="row">
    <div class="main-title">
      <h3 class="hd">
        <i class="house-ico"></i>
        <s>主力户型</s>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class=""></div>
  </div>
  <div class="row">
    <div class="main-title">
      <h3 class="hd">
        <i class="book-ico"></i>
        <s>楼盘情况</s>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="">
      <table class="table">
        <tr>
          <th>开盘时间</th>
          <td th:text="${#dates.format(product.opening, 'yyyy-MM-dd')}">2017-09-09</td>
          <th>入住时间</th>
          <td th:text="${#dates.format(product.delivery, 'yyyy-MM-dd')}">2019.02.01</td>
          <th>建筑类型</th>
          <td>暂无</td>
        </tr>
        <tr>
          <th>物业类型</th>
          <td>暂无</td>
          <th th:text="${product.typeStr}">建筑装修</th>
          <td>毛胚</td>
          <th>绿化率</th>
          <td><span th:text="${product.greenRate}">3.1</span>%</td>
        </tr>
        <tr>
          <th>容积率</th>
          <td><span th:text="${product.volumeRate}">1.5</span>%</td>
          <th>物业费</th>
          <td>暂无</td>
          <th>规划户口</th>
          <td>暂无</td>
        </tr>
        <tr>
          <th>建筑面积</th>
          <td>暂无</td>
          <th>占地面积</th>
          <td th:text="${product.area}">68000</td>
          <th>预售证</th>
          <td>暂无</td>
        </tr>
        <tr>
          <th>交通情况</th>
          <td>暂无</td>
        </tr>
        <tr>
          <th>楼盘地址</th>
          <td th:text="${product.address}">嘉兴海宁碧海路西侧</td>
        </tr>
        <tr>
          <th>开发商</th>
          <td th:text="${product.developer}">吉翔置地有限公司</td>
        </tr>
        <tr>
          <th>物业公司</th>
          <td>绿城鸿翔物业</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="main-title">
      <h3 class="hd">
        <i class="point-ico"></i>
        <s>项目卖点/配套</s>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p th:text="${product.description}">
        吉翔·澜山为吉翔置地集团有限公司开发，项目位于海宁市碧海路西侧，横山路南侧（东山大桥边），西靠长山河，近邻海宁人民广场。总用地面积约49.3亩，规划总建筑面积约6.4万平方米，由10幢排屋和9幢多层组成，呈现城区少有的新中式墅区。
        项目可享受长山河约1公里水岸线带来的河岸风景，未来住户们的休闲生活更丰富；东、西两山的自然、人文景观，如智标塔、紫微阁等，于园区内可尽数观赏。园区内部设有游乐健身场所以及各类景观小品等，营造健康舒适的生活环境。
        吉翔·澜山为吉翔置地集团有限公司开发，项目位于海宁市碧海路西侧，横山路南侧（东山大桥边），西靠长山河，近邻海宁人民广场。总用地面积约49.3亩，规划总建筑面积约6.4万平方米，由10幢排屋和9幢多层组成，呈现城区少有的新中式墅区。
        项目可享受长山河约1公里水岸线带来的河岸风景，未来住户们的休闲生活更丰富；东、西两山的自然、人文景观，如智标塔、紫微阁等，于园区内可尽数观赏。园区内部设有游乐健身场所以及各类景观小品等，营造健康舒适的生活环境。

        综合商场：万联商场
        宾馆酒店：金鱼小酒店
        医　　院：碧云社区卫生服务站、海宁江铭杰口腔诊所、张关妹牙科、海昌街道社区卫生服务中心东郊社区卫生服务站
        菜　　场：
        硖东菜场、城东市场、裕丰酒酱
        银　　行：中国农业银行ATM(硖川路)、中国银行ATM(硖川路)、交通银行ATM(硖川路)、中国建设银行24小时自助银行(碧云北路)、中国工商银行24小时自助银行(海宁开发区分理处)、中国工商银行(海宁开发区分理处)、农村商业银行ATM(海宁市城北信用社)、中国邮政储蓄银行(俞家桥邮政储蓄所)、中国邮政储蓄银行ATM
        学　　校：桃园小学、
        公　　园：东山森林公园、东山公园、西山公园、徐志摩旧居(徐志摩故居)
      </p>
    </div>
  </div>
</div>
</body>
</html>